

html{width:1000px; height:1000px;}

body{background: url('../images/bgg.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:hidden;position:fixed;
  }

.container{ margin-top:20%;background:url('../images/bar.gif') no-repeat center center fixed;-moz-background-size: cover;
-o-background-size: cover;float:right;
background-size: cover; background-color:#C2C5B9;   -webkit-background-size: cover; padding:20px;top:2000px;}


.name{height:200px; width:300px; position:fixed;left:65%;top:65%; background:url('../images/name.png') no-repeat  ;}


.email{  position:fixed;top:52%; left:68%;}
