<!DOCTYPE html>

<head><title> HoistMe :: Home</title>
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/bootstrap/dist/css/bootstrap.min.css">


 </head>

<body>
{% block content%}

{% endblock %}

{% block mail %}
{% endblock %}
<div>

   <div class="email">
     <form action='./' method="post">
     <label> SignUp to get notified </label>
     <br/>
     <input   name="email" placeholder="Email address"/>
     <button> Go </button>
   </form>
  </div>

<div class="name">
 
<br/><br/><br/><br/>
<h5 style="margin-left:21px;">.............LAUNCHING SOON.............</h5>
</div>


<script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"/>

<script type="text/javascript"  src="../static/jquery/jquery-1.11.1.min.js"/>

</body>
</html>
